.thread {
  /* background: #ffffff; */
  display: flex;
  flex: 0.65;
  flex-direction: column;
  height: 100vh;
}

.thread__header {
  display: flex;
  border-bottom: 1px solid rgba(190, 190, 190, .1);
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.thread__header__contents {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
}

.thread__header__contents__info > h5 {
  font-weight: 500;
  color: #808080;
}

.thread__header__details {
  color: #ffffff;
}

.thread__header__details:hover {
  color: rgba(1, 150, 199);
}